* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #232D3F;
    color: white;
}

.wrapper {
    width: auto;
}

/* Titlebar css */

.Header {
    background-color: #2D3250;
    height: 25px;
    -webkit-app-region: drag;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Title {
    -webkit-app-region: no-drag;
    margin: 6px;
}

header div.titleButtons {
    -webkit-app-region: no-drag;

    display: flex;
    flex-direction:row;
    margin:10px;
    justify-content: space-between;
    gap: 10px;
}

header div.titleButtons div {
    display: inline;
    margin-left: 15px;
    cursor: pointer;

    font-size: 20px;
    -webkit-app-region: no-drag;
}

header div.closeButton:hover {
    color: rgb(255, 87, 87);
    -webkit-app-region: no-drag;
}

/* Sidebar css */

.Sidebar {
    user-select: none;
    pointer-events: none;
    background-color: #2D3250;
    width: 47px;
    height: 100vh;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    position: fixed;
}

.SidebarButtons {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
